.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-block: 2rem;
  padding-inline: 1rem;
  overflow: auto !important;
  height: 100dvh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  &::-webkit-scrollbar {
    display: none;
  }
}
