.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-sm);
  background-color: #fff;
  width: 100%;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  border: var(--border);

  &:hover {
    box-shadow: var(--shadow);
  }

  img {
    border-radius: 100%;
  }

  .info {
    color: var(--primary-color);

    &:last-child {
      align-self: baseline;
      width: 100%;
    }

    p {
      color: var(--font-90);
      font-size: var(--size-sm);
      margin-top: var(--spacing-xsm);
    }

    p.especialidade {
      color: #fff;
      background-color: #79a0c7;
      padding: var(--padding-md-2);
      border-radius: var(--border-radius);
      max-width: fit-content;
      font-size: var(--size-xsm);
    }

    p.dia_atendimento {
      display: flex;
      align-items: center;
      gap: var(--spacing-xsm);
    }

    p.nota {
      display: flex;
      justify-content: space-between;

      span:first-child {
        display: flex;
        align-items: center;
        gap: var(--spacing-xsm);
        color: #000;
      }
    }
  }
  button {
    background-color: var(--primary-color);
    color: #fff;
    padding-block: 4px;
    font-size: 0.6rem;
    font-weight: bold;
    border-radius: var(--border-radius);
    width: 100%;

    &:hover {
      box-shadow: var(--shadow);
    }

    &:active {
      scale: 0.95;
    }
  }
}
