* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: sans-serif;

  button,
  a {
    all: unset;
    cursor: pointer;
  }
}

body {
  overflow: hidden;
  height: 100dvh;
}
