.container {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  .modal_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 1rem;

    h2 {
      color: var(--font-dark);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .line {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      justify-content: center;
      align-items: center;
      gap: 1rem;

      label {
        margin-inline: auto;
      }
    }
  }

  &:hover {
    box-shadow: var(--shadow-lg);
  }
}
