/* HEADER BASE */
.header {
  background-color: #fff;
  box-shadow: var(--shadow-sm);
}

/* MENU SUPERIOR */
.header menu {
  max-width: var(--container-max);
  padding-inline: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-xsm);

  button {
    font-size: var(--size-sm);
    font-weight: 600;
    display: flex;
    gap: calc(var(--spacing-xsm) / 2);
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding-sm);

    &:hover {
      box-shadow: var(--shadow-sm);
    }
  }
}

.burger {
  display: none;
  position: relative;
}

.burger input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.logo {
  user-select: none;
  font-size: var(--size-sm);
}

.logo,
.header ul,
.sos_perfil {
  display: flex;
  gap: var(--spacing-xsm);
  align-items: center;
  color: var(--primary-color);
}

.header ul {
  list-style: none;
  font-weight: 600;
  color: var(--font-90);
  font-size: var(--size-sm);
}

.sos_perfil img {
  border-radius: 100%;
}

/* NAV MOBILE FECHADO/ABERTO */
.header nav {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.header nav ul {
  overflow: hidden;
  display: none !important;
}

/* ABERTO (usando :has com o input checked) */
.header:has(input:checked) nav {
  grid-template-rows: 1fr;
  opacity: 1;
}

.header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xsm);
}

/* MOBILE */
@media (width < 540px) {
  .header nav ul {
    display: flex !important;
  }
  .burger {
    display: block !important;
  }

  .closed {
    display: block;
  }

  .open {
    display: none;
  }

  .header:has(input:checked) {
    nav {
      ul {
        padding-bottom: 1rem;
      }
    }
  }

  .burger:has(input:checked) .closed {
    display: none;
  }

  .burger:has(input:checked) .open {
    display: block;
  }

  /* Oculta o menu principal no mobile */
  .header menu ul {
    display: none;
  }

  /* NAV MOBILE */

  .header nav ul li {
    list-style: none;
  }
}

.config {
  position: relative;
  display: flex;
  overflow: visible !important;

  .content {
    scale: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-color: gray;
    color: #fff;
    min-width: fit-content;
    width: 150px;
    right: 0;
    padding: 1rem;
    z-index: 1;
    border-radius: 16px;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease;

    li {
      width: 100%;
      display: flex;

      .sair {
        &:active {
          transition: 0ms;
        }
      }
    }

    button {
      width: 100%;
      display: flex;
      border: none;
      outline: none;
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      transform: translateY(-2px);
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  &:hover {
    .content {
      transform-origin: top left;
      scale: 1;
    }
  }

  img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}

.sos_perfil button {
  touch-action: none;

  /* Impede a seleção de texto */
  user-select: none;
  -webkit-user-select: none; /* Para iOS e Chrome/Android mais antigos */

  /* REMOVE O DESTAQUE AZUL/CINZA DE TOQUE (O EFEITO DE ZOOM/FOCALIZAÇÃO) */
  -webkit-tap-highlight-color: transparent;

  /* Remove o menu de contexto do toque longo no iOS */
  -webkit-touch-callout: none;
}
