body:has(.container) {
  --background: #2a2a2a;
  background-color: var(--background);
}

.container {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    .profissional {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        object-fit: cover;
        border-radius: 100%;
      }

      h5 {
        color: #fff;
        font-size: calc(var(--size-sm) + 1px);
      }

      span {
        font-size: calc(var(--size-sm) - 2px);
        color: #c3c3c390;
      }
    }

    .timer {
      color: #fff;
      font-size: small;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .videos {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* 1 coluna no mobile */
      grid-template-rows: repeat(auto-fill, 50%); /* cada vídeo 50vh */
      overflow: hidden;
    }

    .video {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: var(--background);
      padding-block: 1rem;
      border-radius: var(--border-radius);

      &:nth-child(1)::before {
        content: 'Você';
        position: absolute;
        z-index: 1;
        bottom: 10px;
        left: 10px;
        background-color: #1a1a1a90;
        color: #ffffff90;
        font-size: var(--size-xsm);
        padding: 4px 8px;
        border-radius: 2rem;
      }

      video {
        object-fit: contain !important;
        width: 100%;
        height: 100%;
        transform: scaleX(-1); /* espelha o vídeo local */
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  button {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
  }

  button:has(.start) {
    background-color: green;
  }

  button:has(.on) {
    background-color: #98b1c3;
  }

  button:has(.off) {
    background-color: #dc2626;
  }
}

.bitrate {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #4caf50;
}
