* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100svh;
  position: relative;
}

video {
  transform: scaleX(-1);
}

.me {
  width: 300px;
  position: absolute;
  inset: 0;
  z-index: 1;
}

@media (width < 700px) {
  .me {
    max-height: 200px;
    width: auto;
  }
}

.other {
  width: 100% !important;
  max-height: 100vh;
  object-fit: contain;
}

.btn-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  width: max-content;
  height: max-content;
  background-color: #ffffff50;
  backdrop-filter: blur(4px);
  border: 1px solid #00000020;
  color: #00000090;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.invert {
  background-color: black;
  color: #fff;
  bottom: 1rem;
  left: unset;
  right: 1rem;
}

.bitrate {
  position: absolute;
  width: 100px;
  height: max-content;
  right: 0;
  top: 0;
}
